.wrap-outer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.ctf-outer {
  position: relative;
  flex: 1;
  flex-direction: column;
  display: flex;
}

.personal-form {
  h4 {
    margin-bottom: 2rem;
  }

  label {
    font-size: 16px;
    color: #02adea;
  }

  .form-control {
    height: 50px;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .has-float-label .form-control:placeholder-shown:not(:focus)+* {
    color: #666;
  }
}

.products-section {
  padding: 80px 0 80px 0;
  background: #0f1c50;
  background-image: url(/assets/images/product-banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;

  &::after {
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(15, 28, 80, 0.8);
    z-index: 0;
  }

  h1 {
    color: #fff;
    position: relative;
    z-index: 2;
  }
}

.my-nav {
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      flex-direction: column;
      color: #828282;
      font-size: 15px;
      font-weight: 600;
      padding: 12px 24px;
      line-height: 24px;
      cursor: pointer;
    }

  }
}

.my-account-outer {
  padding: 40px;
  position: relative;
  margin-top: -50px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #dedede;
  margin-bottom: 40px;

}

.info-wrap {
  position: relative;

  .edit-cs {
    top: 0px;
    right: 41px;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    text-transform: uppercase;
  }
}


.info-list li {
  flex-direction: row;
  padding: 5px 0;
  display: flex;
}

.info-list li .left {
  color: #828282;
  width: 150px;
  margin-right: 20px;
  text-align: right;
  font-size: 15px;
}

.info-list li .right {
  color: #000;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}
