@media screen and (max-width:1280px){
  h4, .h4 {
      font-size: 1.2rem;
  }
}
@media (min-width:992px) and (max-width:1199px){

}
@media screen and (max-width:991px){

}
@media screen and (max-width:767px){
  
}